# Next.js
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
